<div class="login-section">

  <section class="container">

    <form id="form" action="/auth/login" method="POST">
      <h1>Log In</h1>
      <div class="credentials-container">
        <label for="username">Username:</label>
        <input class="credentials-input" type="text" name="username" placeholder="e.g. andreaontheblock">
        <label for="password">Password:</label>
        <input class="credentials-input" type="password" name="password" placeholder="e.g. Securepassword12">
      </div>
      <a class='sign-in-link' href="/auth/signup">Or Sign up</a>
      
      <div class="field" >
        <label hidden for="latitude">Latitude</label>
        <input type="hidden" name="latitude" placeholder="ej: 6098765432">
      </div>
      <div class="field" >
        <label hidden for="longitude">Longitude</label>
        <input type="hidden" name="longitude" placeholder="ej: 099087">
      </div>
      
      <div class="login-btn-container">
        <button class="login-btn">LOG IN</button>
      </div>
      {{#if messages.length}}
      <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
      </ul>
      {{/if}}
    </form>
    
  </section>

</div>

<script src="/javascripts/location.js"></script>



