
<form id="form" action="/auth/login" method="POST">
  <h1>I REMEMBER YOU.. WELCOME AGAIN</h1>
  <div>
    <label for="username">Username</label>
    <input type="text" name="username"
    placeholder="ej: andreaontheblock">
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password"
      placeholder="ej: Securepasword12">
  </div>

  <button>LOG IN</button>
  {{#if messages.length}}
  <ul class="validation">
    {{#each messages}}<li>{{this}}</li>{{/each}}
  </ul>
  {{/if}}
</form>

