<form id="form" action="/auth/signup" method="POST">

  <h1>SIGN UP BABY IT'S FREE</h1>

  <div class="field" >
    <label for="username">Username</label>
    <input type="text" name="username" placeholder="ej: andreaontheblock">
  </div>

  <div class="field" >
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="ej: Securepasword12">
  </div>

  <button>Create account</button>
  {{#if messages.length}}
  <ul class="validation">
    {{#each messages}}<li>{{this}}</li>{{/each}}
  </ul>
  {{/if}}

</form>
