<div class="signup-section">
  
  <section class="container">

    <form id="form" action="/auth/signup" method="POST">
      <h1>Sign Up</h1>
      <div class="credentials-container">
        <label for="username">Username:</label>
        <input class="credentials-input" type="text" name="username" placeholder="e.g. andreaontheblock">
        <label for="password">Password:</label>
        <input class="credentials-input" type="password" name="password" placeholder="e.g. Securepassword12">
        <label for="email">Email:</label>
        <input class="credentials-input" type="text" name="email" placeholder="e.g. andrea@andrea.com">
      </div>
      <div class="signup-btn-container">
        <button>Create account</button>
      </div>
      {{#if messages.length}}
      <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
      </ul>
      {{/if}}
    </form>

  </section>

</div>