<section class="contact-section">
  
  <div class="container">
    <h1>CONTACT FORM</h1>
    <p>From: {{data.username}}</p>
    <p>To: {{data.serviceProvider}}</p>
    <form method="POST" action="/">
      <div class="search-field" >
        <div class="message-container">
          <label for="message">Message</label>
          <textarea id="message" name="message" placeholder="Type your message here" rows="10" cols="54"></textarea>
          <input type="submit" value="Submit">  
        </div>
      </div>
    </form>
  </div>

</section>