<section class="contact-section">
  
  <div class="container">
    <h1>CONTACT FORM</h1>
    <p>From: {{data.username}}</p>
    <p>To: {{data.service.provider.username}}</p>

    <form method="POST" action="/send-email/{{data.service._id}}">
      <div class="search-field" >
        <div class="message-container">
          <label for="message">Message:</label>
          <textarea id="message" name="message" placeholder="Type your message here" rows="10" cols="45"></textarea>
          <button id="email-submit" type="submit" value="Submit">SEND</button>
        </div>
      </div>
    </form>
  </div>
  
  <script>window.service = {serviceProvider: "{{data.service.provider.username}}" }</script>

</section>