
<h1>Please provide a service</h1>

<form method="POST" action="/profile">

  <div class="field" >
    <label>Job title</label>
    <input type="text" name="job"/>
  </div>

  <div class="field" >
    <label>Category</label>
    <select name="category">
      <option>Education</option>
      <option>Technology</option>
      <option>Health Care</option>
      <option>Transportation</option>
      <option>Social Services</option>
      <option>Maintenance</option>
      <option>Business</option>
      <option>Tourism</option>
      <option>Others</option>
    </select>
  </div>

 <div class="field" >
    <label>Description</label>
    <input type="text" name="description"/>
  </div>

   <div class="field" >
    <label>Price</label>
    <input type="number" name="priceNumber"/>
    <input type="text" name="priceText"/>
  </div>

  <div class="field submit">
    <button type="submit">Save</button>
  </div>
</form>