<div class="create-service-container">

  <section class="container">

    <h1>Adding a service</h1>
    <form method="POST" action="/profile/create-service">
      <div class="field" >
        <label>Service title:</label>
        <input type="text" name="job"/>
      </div>
      <div class="field" >
        <label>Category:</label>
        <select class="select-category" name="category">
          <option value="" disabled selected>Please select a category</option>
          <option>Education</option>
          <option>Technology</option>
          <option>Health Care</option>
          <option>Transportation</option>
          <option>Social Services</option>
          <option>Maintenance</option>
          <option>Business</option>
          <option>Tourism</option>
          <option>Others</option>
        </select>
      </div>
      <div class="field" >
        <label>Description:</label>
        <textarea name="description" rows="6">
        </textarea>
      </div>
      <div class="field-price" >
        <label>Price(€):</label>
        <input type="number" name="priceNumber"/>
        <span>/</span>
        <select class="select-price-unit" name="priceText">
          <option value="" disabled selected>Please select a unit</option>
          <option>hour</option>
          <option>day</option>
          <option>week</option>
          <option>month</option>
          <option>year</option>
          <option>lesson</option>
        </select>
      </div>
      <div class="field submit">
        <button class="service-added-btn" type="submit">SAVE SERVICE</button>
      </div>
      {{#if messages.length}}
      <ul class="validation">
        {{#each messages}}<li>{{this}}</li>{{/each}}
      </ul>
      {{/if}}
    </form>

  </section>

</div>
