<div class="index-page">
  <div class="img-bg">
    <section class="type-yourself-section container">
      <h1>WAYSER</h1>
      <p>"Service right on your way"</p>

      {{!-- <div class="wayser-slogan"></div> --}}
      <form method="GET" action="/services"> {{!-- GET pq esta buscando pero no cambiando base de datos --}}
        <div class="search-field" >
          <input class="service-input" type="text" name="terms" placeholder="What service do you need?"/>
          <button class="search-btn" type="submit">Search</button>
        </div>
      </form>
    </section>
  </div>

  <section class="click-categories-section container">
    <h4>CATEGORIES</h4>
    <div class="category-btns">
      <div class="category-container">
        <div>
          <img src="/images/education.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=education">Education</a> {{!-- NO ES DRY PERO LA MONTSE MANDA --}}
      </div>
      <div class="category-container">
        <div>
          <img src="/images/technology.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=technology">Technology</a>
      </div>
      <div class="category-container">
        <div>
          <img src="/images/transportation.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=transportation">Transportation</a>
      </div>
      {{!-- <a href="/services?cat=health-care">Health Care</a> --}}
      <div class="category-container">
        <div>
          <img src="/images/nurse.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=social-services">Social Services</a>
      </div>
      <div class="category-container">
        <div>
          <img src="/images/mechanic-3.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=maintenance">Maintenance</a>
      </div>
      <div class="category-container">
        <div>
          <img src="/images/laptop-img2.jpeg" height="60" width="100%">
        </div>
        <a href="/services?cat=business">Business</a>
      </div>
      <div class="category-container">
        <div>
          <img src="/images/catering.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=tourism">Tourism</a>
      </div>
      <div class="category-container">
        <div>
          <img src="/images/others.jpg" height="60" width="100%">
        </div>
        <a href="/services?cat=others">Others</a>
      </div>
    </div>
  </section>

</div>  