<div class="index-page">
  <div class="img-bg">
    <section class="type-yourself-section container">
      <h1>WAYSER</h1>
      <p>"The best way to acquire a service"</p>
      <form method="GET" action="/services"> {{!-- GET pq esta buscando pero no cambiando base de datos --}}
        <div class="search-field" >
          <input class="service-input" type="text" name="search" placeholder="What service do you need?"/>
          <button class="search-btn" type="submit">Search</button>
        </div>
      </form>
    </section>
  </div>

  <section class="click-categories-section container">
    <p>Looking for a specific category?</p>
    <div class="category-btns">
      <a href="/services/education"><button>Education</button></a> {{!-- NO ES DRY PERO LA MONTSE MANDA --}}
      <a href="/services/technology"><button>Technology</button></a>
      <a href="/services/health-care"><button>Health Care</button></a>
      <a href="/services/transportation"><button>Transportation</button></a>
      <a href="/services/social-services"><button>Social Services</button></a>
      <a href="/services/maintenance"><button>Maintenance</button></a>
      <a href="/services/business"><button>Business</button></a>
      <a href="/services/tourism"><button>Tourism</button></a>
      <a href="/services/others"><button>Others</button></a>
    </div>
  </section>

</div>  