<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header> 
      {{#unless currentUser}}
      <nav>
        <a href="/auth/signup">signup</a>
        <a href="/auth/login"> login  </a>
      </nav>
      {{/unless}}
      
      {{#if currentUser}}
    <p>
      Logged in as {{currentUser.username}}
      <form method="POST" action="/auth/logout">
        <button>logout</button>
      </form> 
    </p>
    {{/if}}
    </header>
    {{{body}}}
    <footer>&copy; 2099 future people Montse `&` Andrea</footer>
  </body>
</html>
