<div class="profile-section">
  <section class="container">
    <h1>Your Profile</h1>
    <p>Name: {{currentUser.username}}</p>
    <p>Email: {{currentUser.email}}</p>
    <div class="adding-service">   
      <h3>Would you like to provide a service?</h3>
      <a href="/profile/create-service"><button>ADD SERVICE</button></a>
    </div>
  </section>
</div>

