/* ---- layout: create-service page ---- */

.contact-section {
  margin-top: 53px;
  height: 100vh;
  background-color: rgb(112, 17, 65);
  color: white;
}

.contact-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
  padding-bottom: 10px;
}

.contact-section h1,
.contact-section p,
.contact-section label {
  color: white;
}

.contact-section .message-container {
  display: flex;
  flex-direction: column;
}

.contact-section button {
  font-size: inherit;
  font-family: inherit;
  /* border: 1px solid black; */
  color: white;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 50px;
  margin-top: 20px;
  background-color: rgb(49, 127, 143);
}

.contact-section textarea{
  font-size: 1.1rem;
  margin-top: 10px;
  padding: 5px;
}
