/* ---- layout: errors page ---- */

.error-notFound {
  margin-top: 58px;
  height: 100vh;
}

.error-notFound h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
}

/* ---- components: errors page ---- */

.back-home-btn {
  width: 100%;
  background-color: #F2B379;
  color: white;
  margin-top: 30px;
}