/* ---- layout: index page ---- */

.index-page {
  background-color: white;
  padding-top: 53px;
  height: 100vh;
}

.img-bg {
  background-image: url('/images/magenta.png');
  background-size: cover;
}

.type-yourself-section {
  text-align: center;
  padding-top: 50px;
}

.type-yourself-section h1,
.type-yourself-section p {
  margin: 0;
  color: white;
  text-shadow: 2px 2px 0px black;
}

.type-yourself-section p {
  padding-bottom: 30px;
}

.search-field {
  display: flex;
}

.click-categories-section {
  padding-top: 25px;
  color: white;
  text-align: center;
  height: 90%;
}

.click-categories-section h4 {
  margin: 0 0 20px;
  border-bottom: 1px solid black;
}

.category-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ---- components: index page ---- */

.service-input,
.search-btn {
  font-size: 1em;
  font-family: inherit;
  border: 1px solid grey;
  border-radius: 4px;
}

.service-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
}

.search-btn {
  background-color: rgb(69, 19, 99);
  color: white;
  margin-bottom: 30px;
}

.category-btns a {
  color: white;
  padding: 5px;
}

.category-container {
  background-color: rgb(69, 19, 99);
  width: 49.5%;
  margin-bottom: 5px;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.category-container img {
  border: 1px solid grey;
}

/* ------------- media queries ---------------- */

@media (min-width: 413px) {
  .category-container img {
    height: 90px;
  }
  .category-btns {
    margin-bottom: 50px;
  }
}

@media (min-width: 768px) {
  .category-container img {
    height: 200px;
  }
  .category-btns {
    margin-bottom: 50px;
  }
}

@media (min-width: 960px) {
  .category-container img {
    height: 250px;
  }
  .index-page {
    height: 900px;
  }
  .service-input {
    margin-left: 150px;
    max-width: 550px;
  }
}

@media (min-width: 1200px) {
  .category-container {
    max-width: 30%;
    height: 300px;
  }
  .category-btns {
    justify-content: space-around;
    height: 1000px;
    margin-bottom: 50px;
  }
  .service-input {
    margin-left: 250px;
    max-width: 800px;
  }

}