/* ---- layout: login page / signup page ---- */

.login-section,
.signup-section {
  margin-top: 53px;
  background-size: cover;
  height: 100vh;
}

.login-section {
  background-image: url('/images/magenta.png');
  background-size: cover;
  /* background-color:#F39477; */
}

.signup-section {
  background-image: url('/images/magenta.png');
  background-size: cover;
  /* background-color: #F39477; */
}

.login-section h1,
.signup-section h1 {
  text-align: center;
  font-size: 2.3rem;
  color: white;
}

.login-section label,
.signup-section label {
  color: white;
}

.login-section h1 {
  padding-top: 10vh;
}

.signup-section h1 {
  padding-top: 10vh;
}

.credentials-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.credentials-container input {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-btn-container,
.signup-btn-container {
  display: flex;
  justify-content: center;
}
.sign-in-link,
.log-in-link {
  color: white;
  font-size: 2rem;
}
.validation li {
  background-color: rgb(230, 57, 57);
  color: white;
  list-style-type: none;
  text-align: center;
  width: 100%;
  margin-left: -15px;
  padding: 10px;
}

.signup-section .signup-options,
.login-section .login-options {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 15vw;
}

.signup-section .signup-options a,
.login-section .login-options a {
  font-size: 1.2rem;
  text-decoration: underline;
}

.login-section label,
.signup-section label {
  font-size: 1.5rem;
}
/* ---- components: login / signup page ---- */

.credentials-input,
.login-btn,
.signup-btn {
  width: 70%;
}

.login-btn,
.signup-btn {
  color: white;
  background-color: rgb(69, 19, 99);
  margin-top: 30px;
  margin-bottom: 15px;
  font-size: 1.5rem;
}

.login-section span,
.signup-section span {
  color: white;  
}