/* ---- layout: profile page ---- */

.profile-section {
  margin-top: 53px;
  height: 100%;
  background-color: #F39477;
  color: black;
}

.profile-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 35px;
  padding-bottom: 10px;
}

.profile-section h4, 
.profile-section p {
  margin: 0;
  padding: 5px;
}

.adding-service {
  color: white;
  text-align: center;
  margin-bottom: 50px;
}

.service-container {
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.service-profile-list {
  list-style: none;
  padding-left: 0;
}

/* ---- components: profile page ---- */

.adding-service a {
  background-color: #F2B379;
  color: white;
  padding: 10px;
  border: 1px solid grey;
  border-radius: 4px;
}

.service-container a {
  color: white;
  padding: 8px;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: rgb(54, 54, 112);
}