/* ---- layout: profile page ---- */

.profile-section {
  margin-top: 53px;
  height: 100%;
  background-image: url('/images/magenta.png');
  background-size: cover;
  color: black;
}

.services-section-profile h2,
.services-section-profile, 
.services-section-profile p {
  margin: 0;
  color: rgb(112, 17, 65);
}

.container-head h2,
.container-head p {
  color: white;
  margin: 0;  
}

.profile-section h3 {
  color: black;
}

.profile-section h4 {
  border-bottom: 1px solid white;
  text-align: center;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.profile-section h2,
.profile-section h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 2vh;
}

.profile-section p {
  padding-bottom: 5px;
  padding-top: 5px;
  text-align: justify;
}

.profile-section .profile-email {
  text-align: center;
  padding-bottom: 20px;
}

.adding-service {
  color: white;
  text-align: center;
  padding-bottom: 70px;
}

.service-container {
  margin-bottom: 20px;
  /* background-image: url('/images/magenta.png'); */
  border: 1px solid rgb(112, 17, 65);
  /* border-radius: 5vw; */
  padding: 20px;
}

.service-name-container {
  background-color: rgb(112, 17, 65);
}

.service-name-container h4 {
  color: white;
  margin: 0;
  padding: 10px;

}

.service-profile-list {
  list-style: none;
  padding-left: 0;
}

.img-profile {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  align-self: center;
  width: 150px;
  height: 150px;
}

.services-section-profile {
  background-color: white;
  padding-top: 5px;
  /* border-radius: 5vw; */
}

.edit-container,
.add-container {
  display: flex;
  justify-content: center;
}

.adding-service h3 {
  color: rgb(112, 17, 65)
}

/* ---- components: profile page ---- */
.container-head {
height:190px;
display: flex;
justify-content: space-around;
}

.services-section-profile form {
  display: flex;
  flex-direction: column; 
}

.services-section-profile input {
  background-color: rgb(182, 69, 140);
  width: 100%;
  text-align: left;
  font-size: 0.8rem;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 4px;
}

.user-email-name{
  display: flex;
  flex-direction: column;
  align-self: center;
}

.service-container a,
.adding-service a {
  color: white;
  padding: 5px 50px 5px; 
  font-size: 0.8rem;
  border: 1px solid black;
  border-radius: 4px;
  background-color: rgb(112, 17, 65);
}

.adding-service a {
  padding-right: 25px;
  padding-left: 25px;
  margin-top: 20px;
}