/* ---- layout: profile page ---- */

.profile-section {
  margin-top: 58px;
  /* height: 100%; doesn't work idk why */
  height: 100%;
  background-color: #F39477;
  color: black;
  /* display: flex;
  justify-content:space-evenly; */
}

.profile-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 35px;
  padding-bottom: 10px;
}

.adding-service {
  /* background-color: white; */
  color: black;
  text-align: center;
  /* margin-top: 8vh;
  padding-top: 5vh;
  padding-bottom: 6vh; */
}

.service-container {
  margin-bottom: 20px;
  background-color: white;
  padding: 10px;
}

.service-profile-list {
  list-style: none;
  padding-left: 0;
}

/* ---- components: profile page ---- */

.adding-service button {
  width: 42vw;
  background-color: #F2B379;
  color: white;
}