/* ---- layout: services page ---- */

.services-section {
  margin-top: 58px;
  height: 100vh;
}

.services-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
  padding-bottom: 10px;
}

.services-section h4,
.services-section p {
  margin: 0;
}

.card {
  border: 1px solid grey;
  width: 42vw;
  margin-top: 3vh;
}

.card-img {
  background-image: url('/images/person-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
  width: 100%;
  border-bottom: 1px solid grey;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.filters {
  display: flex;
}

.filters h5 {
  margin: 0;
  margin-right: 20px;
}