/* ---- layout: service details page ---- */

.error-notFound {
  margin-top: 58px;
  height: 100vh;
}

.error-notFound h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
}

/* ---- components: service details page ---- */

/* .go-back-btn {
  background-color: orange;
  width: 25vw;  
  position: relative;
  top: 300px;
  padding: 10px;
} */
