/* ---- layout: service details page ---- */

.service-details {
  margin-top: 53px;
  height: 150vh;
}

.service-details h1 {
  text-align: center;
  font-size: 2rem;
  margin: 0 0 30px;
}

.service-details .search-field {
  padding-top: 1vh;
}

.service-details a {
  position: absolute;
  top: 31vh;
  left: 70vw;
}

/* ---- components: service details page ---- */

#mapid { 
  margin-top: 50px;
  height: 180px; 
}