/* ---- layout: services-category page ---- */

.services-section {
  margin-top: 53px;
  height: 100vh;
  background-color: #F39477;
}

.services-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
  padding-bottom: 10px;
}

.services-section h4,
.services-section p {
  margin: 0;
}

.card {
  border: 1px solid grey;
  width: 42vw;
  margin-top: 3vh;
}

.card-img {
  background-image: url('/images/person-icon.png');
  background-size: contain;
  background-repeat: no-repeat;
  height: 10vh;
  width: 50%;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filters {
  display: flex;
}

.filters h5 {
  margin: 0;
  margin-right: 20px;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid grey;
  background-color: white;
}

/* ---- components: services-category page ---- */

.card-top button {
  font-size: 0.8em;
  font-family: inherit;
  border: 1px solid grey;
  border-radius: 4px;
  background-color: orange;
  padding: 5px;
  width: 20vw;
}