/* ---- layout: service details page ---- */

.service-details {
  margin-top: 58px;
  height: 100vh;
  background-color: #F39477;
  /* background-color: blanchedalmond; */
}

.service-details h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
}