/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;
  line-height: 147%;
}

/* ---- main layout ---- */

.container {
  margin: 0 20px;
}

/* ---- layout: header ---- */

.header{
  background-color: white;
  border-bottom: 1px solid rgb(170, 168, 168);
  position: fixed;
  width: 100vw;
  top: 0;
}

.nav-bar {
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.links-auth {
  margin: 0;
  padding: 0;
}

.links-auth li, 
.links-current-user a {
  display: inline;
  padding-left: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.links-current-user {
  display: flex;
}

/* ---- components: header ---- */

.log-out-btn {
  font-size: 16px;
  font-family: inherit;
  padding: 0;
  margin: 0;
}

/* ---- layout: index page ---- */

.index-page {
  background-color: #124075d3;
  padding-top: 58px;
  height: 100vh;
}

.img-bg {
  background-image: url('/images/laptop-img2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

.type-yourself-section {
  text-align: center;
  padding-top: 70px;
}

.type-yourself-section h1,
.type-yourself-section p {
  margin: 0;
}

.type-yourself-section p {
  padding-bottom: 50px;
}

.search-field {
  display: flex;
}

/* .wayser-slogan {
  width: 335px;
  margin: 0 auto;
  height: 15vh;
  position: absolute;
  top: 15%;
  background-color: grey;
  opacity: 0.6;
} */

.click-categories-section {
  padding-top: 20px;
  color: white;
  text-align: center;
}

.category-btns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* ---- components: index page ---- */

.service-input,
.search-btn,
.category-btns button {
  font-size: 1em;
  font-family: inherit;
  border: 1px solid grey;
  border-radius: 4px;
}

.service-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 30px;
}

.search-btn {
  background-color: #124075d3;
  color: white;
  margin-bottom: 30px;
}

.category-btns button {
  background-color: white;
  padding: 5px;
  width: 42vw;
  margin-bottom: 10px;
}

/* ---- layout: login page / signup page ---- */

.login-section,
.signup-section {
  margin-top: 58px;
  background-size: cover;
  height: 100vh;
}

.login-section {
  background-image: url('/images/background-login.png');
}

.signup-section {
  background-image: url('/images/background-signup.jpg');
}

.login-section h1,
.signup-section h1 {
  text-align: center;
  font-size: 2rem;
}

.login-section h1 {
  padding-top: 15vh;
}

.signup-section h1 {
  padding-top: 10vh;
}

.credentials-container {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.credentials-container input {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

.login-btn-container,
.signup-btn-container {
  display: flex;
  justify-content: center;
}

/* ---- components: login page ---- */

.credentials-input,
.login-btn,
.signup-btn {
  font-size: 1em;
  font-family: inherit;
  border: 1px solid grey;
  border-radius: 4px;
  width: 70%;
  padding: 15px; 
}

.login-btn,
.signup-btn {
  color: white;
  background-color: #124075d3;
  margin-top: 30px;
}

/* ---- layout: profile page ---- */

.profile-section {
  margin-top: 58px;
  height: 100vh;
  background-color: #124075d3;
  color: white;
}

.profile-section h1 {
  text-align: center;
  font-size: 2rem;
  padding-top: 8vh;
  padding-bottom: 10px;
}

.adding-service {
  background-color: white;
  color: black;
  text-align: center;
  margin-top: 8vh;
  padding-top: 5vh;
  padding-bottom: 6vh;
}

/* ---- components: profile page ---- */

.adding-service button {
  padding: 5px;
  width: 42vw;
  font-size: 1em;
  font-family: inherit;
  border: 1px solid grey;
  background-color: #124075d3;
  border-radius: 4px;
  color: white;
}

/* ---- layout: footer ---- */

.footer {
  background-color: #343a40;
  color: rgba(255, 255, 255, 0.63);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  border-top: 1px solid rgb(170, 168, 168);
  position: fixed;
  width: 100vw;
  bottom: 0;
  text-align: center;
  padding: 10px 0;
}