/* ---- reset ---- */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- layout ---- */

.container {
  margin: 0 20px;
}

.header{
  background-color: white;
  border-bottom: 1px solid rgb(170, 168, 168);
  position: fixed;
  width: 100vw;
  top: 0;
}

.nav-bar {
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: space-between;
}

.links-auth {
  margin: 0;
  padding: 0;
}

.links-auth li {
  display: inline;
  padding-left: 10px;
}

.links-auth a {
  text-decoration: none;
}

/* ---- typography ---- */

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 147%;
}